{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos" style="background-color: transparent; color: #663300;">Pedidos <span class="sr-only">(current)</span></a>
                    <a class="nav-link active" href="/pedidos/combinados" style="background-color: #663300;"> Combinados <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/pedidos/montar" style="background-color: transparent; color: #663300;"> Montar <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/pedidos/bebidas" style="background-color: transparent; color: #663300;"> bebidas <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h3>Combinados
                </h3>
                <hr />
                <form method="POST" action="/pedidos/finalizar">
                    {% csrf_token %}
                    <input type="hidden" name="cmd_id" value="{{cmd_id}}" />
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="1"><img src="../../static/img/1.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="2"><img src="../../static/img/2.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="3"><img src="../../static/img/3.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="4"><img src="../../static/img/4.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="5"><img src="../../static/img/5.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="6"><img src="../../static/img/6.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="7"><img src="../../static/img/7.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="8"><img src="../../static/img/8.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="9"><img src="../../static/img/9.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="10"><img src="../../static/img/10.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="11"><img src="../../static/img/11.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="12"><img src="../../static/img/12.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="13"><img src="../../static/img/13.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="14"><img src="../../static/img/14.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="15"><img src="../../static/img/15.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="16"><img src="../../static/img/16.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="17"><img src="../../static/img/17.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="18"><img src="../../static/img/18.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="19"><img src="../../static/img/19.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="20"><img src="../../static/img/20.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="21"><img src="../../static/img/21.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="22"><img src="../../static/img/22.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="23"><img src="../../static/img/23.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="24"><img src="../../static/img/24.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="25"><img src="../../static/img/25.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" name="comb" value="26"><img src="../../static/img/26.png" /></button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}