{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/pedidos" style="background-color: transparent; color: #663300;">Pedidos <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/pedidos/combinados" style="background-color: transparent; color: #663300;"> Combinados <span class="sr-only">(current)</span></a>
                    <a class="nav-link active" href="/pedidos/montar" style="background-color: #663300;"> Montar <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/pedidos/bebidas" style="background-color: transparent; color: #663300;"> bebidas <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h3>Montar 
                </h3>
                <hr />
                <form method="POST">
                    {% csrf_token %}
                        <input type="hidden" name="cmd_id" value="{{cmd_id}}" />
                        <input type="hidden" name="mont_id" value="{{mont_id}}" />
                    {% if m_bs %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Base</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for base1 in m_bs %}
                            <tr>
                                <td><button class="fundo1" style="background-color:transparent;border:none;" disabled><img src="../../static/img/{{base1.img}}.png" /></button></td>
                                <td><h4>{{base1.preco}}</h4></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if m_ad %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Adicional</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ads1 in m_ad %}
                            <tr>
                                <td><button class="fundo1" style="background-color:transparent;border:none;" disabled><img src="../../static/img/{{ads1.img}}.png" /></button></td>
                                <td><h4>{{ads1.preco}}</h4></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <h4 class="text-right">Total: R${{total_mont}}</h4>
                    <button onclick="goBack()" class="btn btn-primary" style="background-color: #663300; border:none;">Voltar</button>
                    <button class="btn btn-primary float-right" style="background-color: #663300; border:none;" formaction="/pedidos/montar1">Finalizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    function goBack() {
        window.history.back();
    }
</script>
        {% endblock %}