{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/home" style="background-color: #663300;">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                {% if msg %}
                    <h3>{{msg}}</h3>
                    {% if novo_age %}
                        <hr />
                        <h4>Paciente: {{novo_age.aluno}}</h4>
                        <h4>Data: {{data}}</h4>
                        <h4>Prof: {{novo_age.prof1.nome}}</h4>
                        <h4>Plano: {{novo_age.aluno.plan1}}</h4>
                        <h4>Data de Vencimento: {{novo_age.aluno.data_venc}}</h4>
                        <button type="submit" class="btn btn-primary float-right" style="background-color: #599a80;">Imprimir</button>
                    {% endif %}
                {% else %}
                    <h3>Ola</h3>
                    <hr />
                {% endif %}
            </div>
        </div>
    </section>
</main>
        {% endblock %}