{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="/caixa" style="color: #663300; background-color:transparent;">Caixa <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/caixa/entrada" style="color: #663300; background-color:transparent;"> Entrada <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/caixa/retirada" style="color: #663300; background-color:transparent;"> Retirada <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/caixa/fechar" style="color: #663300; background-color:transparent;"> Fechar <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/extrato" style="background-color: #663300;"> Extratos <span class="sr-only">(current)</span></a>
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h3>Extratos</h3>
                <hr />
                <form>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" formaction="/extrato/diario"><img src="../../static/img/diario.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" formaction="#"><img src="../../static/img/mensal.png" /></button>
                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}