{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar menu-lateral">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/produtos/base" style="background-color: #663300;">Base <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/produtos/nova_base" style="background-color: transparent; color: #663300;"> Novo <span class="sr-only">(current)</span></a>
                    <a class="nav-link " href="/produtos/editar_base" style="background-color: transparent; color: #663300;"> Editar <span class="sr-only">(current)</span></a>
                    
                </li>
            </ul>
         </nav>
        </div>
    </div>
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h3>Bases
                </h3>
                <hr />
                <form >
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" formaction="/produtos/nova_base"><img src="../../static/img/nova_base.png" /></button>
                    <button class="fundo1" style="background-color:transparent; border:none;" type="submit" formaction="/produtos/editar_base"><img src="../../static/img/editar_base.png" /></button>

                </form>
            </div>
        </div>
    </section>
</main>
        {% endblock %}